body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 136px 1fr;


    header {
        grid-row: 1;
    }

    section {
        grid-row: 2;
    }
}










// the grid for the section of destination


// the breakpoint for the desktop
@media screen and (min-width: map-get($breakpoint, desktop)) {
.destination_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;


    .left {
        grid-column: 1;
    }


    .right {
        grid-column: 2;
        display: grid;
    }





}


}



// the breakpoint for the tablet
@media screen and (max-width: map-get($breakpoint, tablet)) {

    .destination_section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);

        .left {
            grid-row: 1;
        }


        .right {
            grid-row: 2;
            display: grid;
        }

    }
}




// the breakpoint for the mobile
@media screen and (max-width: map-get($breakpoint, mobile)) {

    .destination_section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);

        .left {
            grid-row: 1;
        }


        .right {
            grid-row: 2;
            display: grid;
        }

    }
}








// the grid for the section of Crew


// the breakpoint for the desktop
@media screen and (min-width: map-get($breakpoint, desktop)) {
.crew_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;


    .left_crew {
        grid-column: 1;
    }


    .right_crew {
        grid-column: 2;
     
    }

}


}



// the breakpoint for the Tablet
@media screen and (max-width: map-get($breakpoint, tablet)) {
.crew_section {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(2,1fr);


    .left_crew {
        grid-row:1;
    }


    .right_crew {
        grid-row:2;
     
    }

}


}


// the breakpoint for the mobile
@media screen and (max-width: map-get($breakpoint, mobile)) {
.crew_section {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:repeat(2, 1fr);


    .left_crew {
        grid-row: 2;
    }


    .right_crew {
        grid-row:1 ;
     
    }

}


}