/* vendors*/
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: url("/assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;
  height: 48px;
  /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #15141a;
  /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background: #504f53;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid transparent;
  /* creates padding around scroll thumb */
}

@media (max-width: 768px) {
  body {
    background: url("/assets/home/background-home-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 375px) {
  body {
    background: url("/assets/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.moon_typo,
.space_typo,
.Douglas_typo,
.Commander_typo {
  font-family: "Bellefair", sans-serif;
}

.AVG_DISTANCE_typo,
.Body_Text_typo,
.so_typo {
  font-family: "Barlow Condensed" sans-serif;
}

.so_typo {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 4.7249999046px;
  text-align: left;
}

.Body_Text_typo {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

.space_typo {
  font-size: 150px;
  font-weight: 400;
  line-height: 172px;
  letter-spacing: 0px;
  text-align: left;
}

.Commander_typo {
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 2px;
  text-align: center;
}

.Home_btn {
  width: 274px;
  height: 274px;
  margin-left: 10px;
  margin-top: 310px;
  margin-right: 84px;
  border-radius: 101%;
}
.Home_btn:hover {
  border: 50px #24262f solid;
  box-sizing: content-box;
  width: 174px;
  height: 174px;
  animation: pulse-animation 2s infinite;
  cursor: pointer;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px #24262f;
  }
  100% {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
  }
}
body {
  grid-template-columns: 1fr;
  grid-template-rows: 136px auto;
}
body header {
  grid-row: 1;
}
body section {
  grid-row: 2;
}

@media screen and (min-width: 769px) {
  .header {
    width: 100%;
    height: 132px;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .header_hamburger {
    display: none;
  }
  .header_imgMobile {
    display: none;
  }
  .header_barreGenerale {
    height: 96px;
    width: 1200px;
    margin-top: 30px;
    margin-left: 20px;
    position: relative;
  }
  .header_barreGenerale img {
    height: 48px;
    width: 48px;
    margin-top: 21px;
    margin-left: -90px;
  }
  .header_barreGenerale .bar {
    position: absolute;
    width: 467px;
    height: 1px;
    left: 2px;
    top: 41px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    z-index: 20;
  }
  .header_menu {
    height: 96px;
    width: 746px;
    border: 4px transparent solid;
    margin-left: 453px;
    margin-top: -77px;
    position: relative;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
  }
  .header_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 19.2px;
    margin-top: 32px;
    list-style: none;
    color: #FFFFFF;
    font-size: 1.6rem;
    text-decoration: none;
    font-family: "Barlow Condensed" sans-serif;
    font-weight: 400;
    letter-spacing: 2.7px;
  }
  .header_menu ul li:hover {
    transition: all 0.3ms ease-in-out;
    border-bottom: 4px #8d8989 solid;
    padding-bottom: 34px;
  }
  .header_menu ul li {
    cursor: pointer;
  }
  .header_menu ul li span {
    margin-right: 10px;
    font-weight: bold;
  }
  .header .active {
    border-bottom: 4px #FFFFFF solid;
    padding-bottom: 34px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 99px;
  }
  .header_hamburger {
    display: none;
  }
  .header_imgMobile {
    display: none;
  }
  .header_barreGenerale {
    height: 96px;
    width: 100%;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header_barreGenerale img {
    max-height: 48px;
    max-width: 48px;
    min-height: 28px;
    min-width: 28px;
    margin-top: 20px;
    margin-left: 9px;
  }
  .header_barreGenerale .bar {
    display: none;
  }
  .header_menu {
    width: 450px;
    height: 91px;
    margin-right: 3px;
    top: 0px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
  }
  .header_menu ul {
    font-size: 1.1rem;
    line-height: 16.2px;
    list-style: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 400;
    margin-top: 32px;
    letter-spacing: 2.7px;
    font-family: "Barlow Condensed" sans-serif;
  }
  .header_menu ul li:hover {
    transition: all 0.1ms ease-in-out;
    border-bottom: 4px #8d8989 solid;
    padding-bottom: 34px;
  }
  .header_menu ul li span {
    display: none;
  }
  .header .active_Tablet {
    border-bottom: 4px #FFFFFF solid;
    padding-bottom: 34px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    width: 100%;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header_hamburger {
    display: block;
    height: 21px;
    width: 24px;
    margin-top: 15px;
    margin-right: 8px;
  }
  .header_imgMobile {
    display: block;
    min-height: 22px;
    min-width: 22px;
    max-height: 40px;
    max-width: 40px;
    margin-top: 7px;
    margin-left: 8px;
  }
  .header_barreGenerale {
    display: none;
  }
}
.section_home {
  height: auto;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section_home div {
  width: 450px;
  height: 382px;
  margin-top: 255px;
  margin-left: 105px;
}

/*# sourceMappingURL=style.css.map */
