// the breakpoint for the desktop
@media screen and (min-width: map-get($breakpoint, desktop)) {
.Home_btn {
  min-width: 258px;
  width: 60%;
  height: 71%;
  min-height: 258px;
  margin-left: 35%;
  margin-top: 18%;
 border-radius: 200%;

    &:hover {
        border: 50px rgb(36, 38, 47) solid;
        box-sizing: border-box;
        width: 150px !important;
        height: 150px !important;
        font-size:2rem ;
        animation: pulse-animation 2s infinite;
        cursor: pointer;
        color: $color_primaire;




    }
}

}





// l'aniamtion de pulsation pour le btn (EXPLORE) de la page Home
@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgb(36, 38, 47);
    }

    100% {
        box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
    }
}





// the breakpoint for the tablet
@media screen and (max-width: map-get($breakpoint, tablet)) {
    .Home_btn {
        //   position: absolute;
        width: 242px;
        height: 242px;
        margin-top: 11px;
        margin-left: 16%;
        border-radius: 101%;
        // border:50px black solid;
        // box-sizing: content-box;


        &:hover {
            border: 50px rgb(36, 38, 47) solid;
            box-sizing: content-box;
            width: 174px;
            height: 174px;
            animation: pulse-animation 2s infinite;
            cursor: pointer;
            color: $color_primaire;


        }
    }


}




// the breakpoint for the mobile
@media screen and (max-width: map-get($breakpoint, mobile)) {
    .Home_btn {
        width: 150px;
        height: 150px;
        margin-top: 62px;
        border-radius: 101%;



        &:hover {
            border: 20px rgb(36, 38, 47) solid;
            box-sizing: content-box;
            width: 154px;
            height: 154px;
            animation: pulse-animation 2s infinite;
            cursor: pointer;
            color: $color_primaire;



        }
    }


}