*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    

}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
     width: 100vw;
    height:100%;
     margin: 0;
    overflow-Y:scroll;
    overflow-x:hidden;
    
}

body {
    width:100vw;
    height: 100%;
    box-sizing: border-box;
    background: url($the_desktop_background)  ;
    background-size:cover;
    background-repeat: no-repeat;
    overflow-x:hidden ;
    
    
  

    // for modifier the apparence of sroll bar
    &::-webkit-scrollbar {
        width: 12px;
       height: 48px;

        /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: rgb(21, 20, 26);
        
        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(80, 79, 83);
        

        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        border: 3px solid transparent;
        /* creates padding around scroll thumb */
    }



     @media (max-width:map-get($breakpoint,tablet)) {

            background: url($the_tablet_background) ;
            width:100vw;
            background-size:cover;
            background-repeat: no-repeat;
            height:100%;
            overflow-x: hidden;
            

      
}










     @media (max-width:map-get($breakpoint, mobile)) {
        background: url($the_mobile_background) ;
        background-size:cover;
        background-repeat: no-repeat;
        width:100vw;
        height:100%;
        overflow-x:hidden;
        margin: 0;
    }
    
}







