*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
}

body {
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    background: url($the_desktop_background)  ;
    background-size:cover ;
    background-repeat: no-repeat;
}


body {
  @media (max-width:map-get($breakpoint, tablet)) {
        
      background: url($the_tablet_background) ;
      background-size:cover;
      background-repeat: no-repeat;
    }
}


body {
    @media (max-width:map-get($breakpoint, mobile)) {
        background: url($the_mobile_background) ;
        background-size:cover;
        background-repeat: no-repeat;
        
    }
}