@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap')


// .moon,.space,.Douglas {font-family: 'Bellefair', sans-serif;}

// .so,.AVG_DISTANCE,.Body_Text {font-family: 'Barlow Condensed'sans-serif;}

// .moon{font-size: 100px;}

// .space{font-size: 150px;}

// .Douglas{font-size: 56px;}

// .Commander {font-size: 32px;}

// .so {font-size: 28px;}

// .Body_Text {font-size: 28px;
            //  line-height: 32px;
            // font-weight: 400;  }


     
// .AVG_DISTANCE{font-size:14px;
// letter-spacing: 2.35;}

// .EUROPA{font-size:14px;
// letter-spacing: 2.7;}