
//THE COLORS SYSTEME
$color_primaire:#0B0D17;
$color_secodaire:#D0D6F9;
$color_tereciare:#FFFFFF;

//the img background home
$the_desktop_background:"/assets/home/background-home-desktop.jpg";
$the_tablet_background:"/assets/home/background-home-tablet.jpg";
$the_mobile_background:"/assets/home/background-home-mobile.jpg";

// the breakpoint
$breakpoint:(
    desktop:769px,
    mobile:375px,
    tablet:768px,

 )